html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(250, 232, 224, 1) 16%, rgba(216, 167, 177, 1) 51%, rgba(239, 124, 142, 1) 81%);
}

.title {
    text-align: center;
    background: #B6E2D3;
    padding: 20px 20px;
    border-radius: 12px;
    margin-top: 3vh;
    margin-bottom: 5vh;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.busqueda {
    background-color: #B6E2D3;
    width: 30%;
    margin: 0 auto;
    border-radius: 12px;
    padding-left: 30px;
    padding: 50px 20px;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}
#ubi{
    margin-bottom: 10px;
}
#ubicacion{
    width: 150px;
    height: 100px;
}

#distancia {
    margin-top: 5px;
    align-items: center;
}

#distancia-label {
    
    margin-right: 10px;
}

#pref-edad {
    margin-top: 5px;
    align-items: center;
}

.boton {
    text-align: center;
}
.enviar{
    width: 150px;
    border: 2px solid #D8A7B1;
    background: radial-gradient(100% 100% at 100% 0%, #d8a7b1 0%, #EF7C8E 100%);
    height: 40px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}

.enviar::after{
    content: "";
    position: relative;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: 0.5s;
}
.enviar:hover::after {
    transform: translateX(600px);
    transition-duration: 0.5s;
}
label,
input[type="range"],
span {
    font-size: 20px;
}
input[type="range"] {
    width: 50%;
    height: 20px;
}