html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(0deg, rgba(250,232,224,1) 16%, rgba(216,167,177,1) 51%, rgba(239,124,142,1) 81%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*
header {
    border-radius: 12px;
    background: #B6E2D3;
    box-shadow: 5px 5px 36px #6b857c;
    text-align: center;
    padding: 3vw;
    width: 25%;
    max-width: 400px;
    
}*/
.login,.reg{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B6E2D3;
    padding: 3vh 5vw;
    border-radius: 12px;
    box-shadow: 5px 5px 36px #6b857c;
    margin-bottom: 3vh;
}
.h1{
    font-size: 2.5em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 15px 0 30px 0;
}
.container{
    width: 120%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconos{
    position: absolute;
    left: 10px;
}
.input{
    width: 120%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.767);
    border: none;
    border-bottom: 2px solid #B6E2D3;
    border-radius: 12px;
    margin: 10px 0;
    color: black;
    font-size: .9em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}
.input:focus{
    outline: none;
    border-bottom: 2px solid #EF7C8E;
}
.input::placeholder{
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

.desc{
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

.enviar{
    position: relative;
    width: 150px;
    border: 2px solid #D8A7B1;
    background: radial-gradient( 100% 100% at 100% 0%, #d8a7b1 0%, #EF7C8E 100% );
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}
.enviar::after{
    content: "";
    position: relative;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
}
.enviar:hover::after{
    transform: translateX(600px);
    transition-duration: .5s;
}

.container_reg{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container_reg label{
    font-size: 1em;
    font-weight: 500;
    color: rgb(80, 80, 80);
}
.container_reg button{
    font-size: .8em;
    font-weight: 500;
    border: 2px solid #D8A7B1;
    background: radial-gradient( 100% 100% at 100% 0%, #d8a7b1 0%, #EF7C8E 100% );
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 12px;
}