html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, rgba(250, 232, 224, 1) 16%, rgba(216, 167, 177, 1) 51%, rgba(239, 124, 142, 1) 81%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 30px;
}
textarea {
    resize: none;
    height: 120px;
}
.img{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
}
.text{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
    border: none;
    border-radius: 12px;
    margin: 10px 0;
    color: black;
    font-size: 0.9em;
    box-sizing: border-box;
    padding-left: 30px;
}

.datos {
    max-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #B6E2D3;
    padding: 2vh 5vw;
    border-radius: 12px;
    box-shadow: 5px 5px 36px #6b857c;
    margin-bottom: 3vh;
}

/* .h2 {
    font-size: 2.5em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 15px 0 30px 0;
} */
.title {
    display: flex;
    justify-content: center;
}

.title h2 {
    margin: 0;
}

.container {
    width: 80%;
    margin-top: 30px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.input {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.767);
    border: none;
    border-bottom: 2px solid #B6E2D3;
    border-radius: 12px;
    margin: 10px 0;
    color: black;
    font-size: 0.9em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #EF7C8E;
}

.input::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

.desc {
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

.enviar {
    position: relative;
    width: 150px;
    border: 2px solid #D8A7B1;
    background: radial-gradient(100% 100% at 100% 0%, #d8a7b1 0%, #EF7C8E 100%);
    height: 40px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}

.enviar::after {
    content: "";
    position: relative;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: 0.5s;
}

.enviar:hover::after {
    transform: translateX(600px);
    transition-duration: 0.5s;
}

.intereses {
    background-color: #B6E2D3;
    padding: 2vh 5vw;
    border-radius: 12px;
    box-shadow: 5px 5px 36px #6b857c;
    margin-bottom: 3vh;
    position: relative;
}

.intereses-izquierda{
    width: 45%;
    float: left;
    margin-right: 5%;
}

.intereses-derecha {
    width: 45%;
    float: right;
    margin-left: 5%;
}

.buscar{
    width: 80%;
    max-width: 600px;
    align-items:center;
    background-color: #B6E2D3;
    padding: 30px 50px 30px 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 36px #6b857c;
    margin-bottom: 3vh;
}